In [2]:
import numpy as np
import numpy.random as random
import scipy as sp
import pandas as pd
from pandas import Series,DataFrame

ratings_small = pd.read_csv("ratings_small.csv")
ratings_small.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
ratings_small.groupby("userId").size().sort_values()

userId
1        20
498      20
448      20
445      20
444      20
438      20
35       20
399      20
540      20
76       20
337      20
484      20
583      20
319      20
604      20
310      20
325      20
289      20
668      20
657      20
651      20
209      20
296      20
221      20
638      20
485      20
14       20
249      20
477      21
469      21
       ...
529     604
358     617
654     626
119     641
306     645
475     655
262     676
102     678
232     682
461     696
518     707
457     713
23      726
388     792
472     830
212     876
213     910
580     922
509     923
294     947
30     1011
311    1019
380    1063
468    1291
452    1340
73     1610
15     1700
624    1735
564    1868
547    2391
dtype: int64