# インポート

In [1]:
import numpy as np
import numpy.random as random
import scipy as sp
import pandas as pd
from pandas import Series,DataFrame

# ratingとkeywordsのリスト作り

In [2]:
ratings_small = pd.read_csv("ratings_small.csv")
ratings_small.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [3]:
ratings_small.groupby("userId").size().sort_values()

userId
1        20
498      20
448      20
445      20
444      20
438      20
35       20
399      20
540      20
76       20
337      20
484      20
583      20
319      20
604      20
310      20
325      20
289      20
668      20
657      20
651      20
209      20
296      20
221      20
638      20
485      20
14       20
249      20
477      21
469      21
       ...
529     604
358     617
654     626
119     641
306     645
475     655
262     676
102     678
232     682
461     696
518     707
457     713
23      726
388     792
472     830
212     876
213     910
580     922
509     923
294     947
30     1011
311    1019
380    1063
468    1291
452    1340
73     1610
15     1700
624    1735
564    1868
547    2391
dtype: int64

In [4]:
metadata=pd.read_csv("movies_metadata.csv")

/Users/minori/.pyenv/versions/anaconda3-4.2.0/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [6]:
credits=pd.read_csv("credits.csv")
credits.head()

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602
3,"[{'cast_id': 1, 'character': ""Savannah 'Vannah...","[{'credit_id': '52fe44779251416c91011acb', 'de...",31357
4,"[{'cast_id': 1, 'character': 'George Banks', '...","[{'credit_id': '52fe44959251416c75039ed7', 'de...",11862

In [7]:
keywords=pd.read_csv("keywords.csv")
keywords.head()

      id                                           keywords
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...

In [8]:
keywords.sort_values(by='id')

           id                                           keywords
4342        2  [{'id': 240, 'name': 'underdog'}, {'id': 378, ...
12947       3  [{'id': 1361, 'name': 'salesclerk'}, {'id': 17...
17          5  [{'id': 612, 'name': 'hotel'}, {'id': 613, 'na...
474         6  [{'id': 520, 'name': 'chicago'}, {'id': 2231, ...
256        11  [{'id': 803, 'name': 'android'}, {'id': 4270, ...
6232       12  [{'id': 494, 'name': 'father son relationship'...
351        13  [{'id': 422, 'name': 'vietnam veteran'}, {'id'...
2742       14  [{'id': 255, 'name': 'male nudity'}, {'id': 29...
896        15  [{'id': 736, 'name': 'journalist'}, {'id': 918...
3786       16  [{'id': 30, 'name': 'individual'}, {'id': 246,...
10765      17  [{'id': 236, 'name': 'suicide'}, {'id': 439, '...
1460       18  [{'id': 402, 'name': 'clone'}, {'id': 444, 'na...
1901       19  [{'id': 312, 'name': 'man vs machine'}, {'id':...
6621       20  [{'id': 455, 'name': 'farewell'}, {'id': 457, ...
3531       21  [{'id': 1524, 'name': 'surfer'}, {'id': 1671, ...
6390       22  [{'id': 911, 'name': 'exotic island'}, {'id': ...
6725       24  [{'id': 233, 'name': 'japan'}, {'id': 732, 'na...
10517      25  [{'id': 1589, 'name': 'sniper'}, {'id': 4405, ...
9769       26  [{'id': 220, 'name': 'berlin'}, {'id': 376, 'n...
10083      27  [{'id': 212, 'name': 'london england'}, {'id':...
1165       28  [{'id': 1008, 'name': 'guerrilla'}, {'id': 126...
39405      30  [{'id': 1826, 'name': 'space marine'}, {'id': ...
1221       33  [{'id': 549, 'name': 'prostitute'}, {'id': 798...
11959      35  [{'id': 494, 'name': 'father son relationship'...
7208       38  [{'id': 563, 'name': 'deja vu'}, {'id': 802, '...
4108       55  [{'id': 960, 'name': 'homeless person'}, {'id'...
11008      58  [{'id': 616, 'name': 'witch'}, {'id': 663, 'na...
10387      59  [{'id': 642, 'name': 'robbery'}, {'id': 848, '...
897        62  [{'id': 305, 'name': 'moon'}, {'id': 306, 'nam...
31         63  [{'id': 222, 'name': 'schizophrenia'}, {'id': ...
...       ...                                                ...
45892  459928  [{'id': 1156, 'name': 'sister sister relations...
46178  459950  [{'id': 15016, 'name': 'twins'}, {'id': 166262...
45543  460024                                                 []
46324  460135  [{'id': 9715, 'name': 'superhero'}, {'id': 210...
45836  460822               [{'id': 156028, 'name': 'broadway'}]
45984  460846                                                 []
21943  460870  [{'id': 41594, 'name': 'electricity'}, {'id': ...
46137  461053                 [{'id': 1470, 'name': 's.w.a.t.'}]
45934  461088                                                 []
45566  461089                                                 []
46418  461257                                                 []
46370  461297  [{'id': 9663, 'name': 'sequel'}, {'id': 156321...
45617  461533               [{'id': 50244, 'name': 'making of'}]
45782  461615                                                 []
46123  461634          [{'id': 9716, 'name': 'stand-up comedy'}]
45716  461805                                                 []
45725  461955  [{'id': 161195, 'name': 'digital film'}, {'id'...
45928  462026                                                 []
46132  462108          [{'id': 9716, 'name': 'stand-up comedy'}]
23427  462788  [{'id': 10181, 'name': 'based on play or music...
45922  463800  [{'id': 2957, 'name': 'vietnam war'}, {'id': 2...
46098  463906              [{'id': 186946, 'name': 'the saint'}]
46153  464111                                                 []
46038  464207  [{'id': 18330, 'name': 'nature'}, {'id': 15681...
45953  464819               [{'id': 50244, 'name': 'making of'}]
46031  465044                                                 []
46226  467731                                                 []
21890  468343                                                 []
46351  468707  [{'id': 2486, 'name': 'fantasy'}, {'id': 14751...
20188  469172                                                 []

[46419 rows x 2 columns]

In [9]:
vote_average=metadata[['id','vote_average']]
vote_average.head()

      id  vote_average
0    862           7.7
1   8844           6.9
2  15602           6.5
3  31357           6.1
4  11862           5.7

In [10]:
vote_average[["id"]]=vote_average.id.convert_objects(convert_numeric=True).fillna(-1).astype(np.int)

/Users/minori/.pyenv/versions/anaconda3-4.2.0/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  if __name__ == '__main__':
/Users/minori/.pyenv/versions/anaconda3-4.2.0/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/Users/minori/.pyenv/versions/anaconda3-4.2.0/lib/python3.5/site-packages/pandas/core/indexing.py:465: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [11]:
vote_average.sort_values(by='id')

           id  vote_average
19730      -1           NaN
29503      -1           NaN
35587      -1           NaN
4342        2           7.1
12947       3           7.1
17          5           6.5
474         6           6.4
256        11           8.1
6232       12           7.6
351        13           8.2
2742       14           7.9
896        15           8.0
3786       16           7.7
10765      17           5.6
1460       18           7.3
1901       19           8.0
6621       20           7.2
3531       21           7.8
6390       22           7.5
6725       24           7.7
10517      25           6.6
9769       26           6.5
10083      27           5.1
1165       28           8.0
38451      30           7.9
1221       33           7.7
11959      35           6.9
7208       38           7.9
4108       55           7.6
11008      58           7.0
...       ...           ...
44939  459928           5.1
45225  459950           7.3
44590  460024           4.0
45371  460135          10.0
44883  460822           6.8
45031  460846           6.0
21944  460870           0.0
45184  461053           5.2
44981  461088           0.0
44613  461089           0.0
45465  461257           0.0
45417  461297           6.0
44664  461533           0.0
44829  461615           7.5
45170  461634           8.0
44763  461805           8.1
44772  461955           7.4
44975  462026           0.0
45179  462108           5.8
23428  462788           0.0
44969  463800           7.3
45145  463906           5.8
45200  464111           7.2
45085  464207           7.5
45000  464819           0.0
45078  465044           0.0
45273  467731           0.0
21891  468343           0.0
45398  468707           8.0
20189  469172           0.0

[45466 rows x 2 columns]

## keywords_vote…id,keywords,vote_average

In [12]:
keywords_vote = pd.merge(keywords,vote_average)
keywords_vote.head()

      id                                           keywords  vote_average
0    862  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...           7.7
1   8844  [{'id': 10090, 'name': 'board game'}, {'id': 1...           6.9
2  15602  [{'id': 1495, 'name': 'fishing'}, {'id': 12392...           6.5
3  31357  [{'id': 818, 'name': 'based on novel'}, {'id':...           6.1
4  11862  [{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...           5.7

# ダミー変数づくり

In [13]:
#get_dummiesはこんな感じになるよ
pd.get_dummies(keywords_vote['vote_average'])

,0.0,0.5,0.7,1.0,1.1,1.2,1.3,1.4,1.5,1.6,...,8.9,9.0,9.1,9.2,9.3,9.4,9.5,9.6,9.8,10.0
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
21,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46452,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46453,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46454,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46455,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46456,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46457,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46458,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46459,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46460,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46461,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46462,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46463,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46464,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46465,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46466,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46467,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46468,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46469,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46470,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46471,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46472,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46473,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46474,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46475,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46476,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46477,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46478,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46479,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46480,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
46481,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
#その名の通りstr->list

def make_list_from_str(string):
    if isinstance(string, str):
        result_list = eval(string)
    else:
        result_list = np.nan
    return result_list

In [15]:
#keywords_vote["keywords_list"]がlist化されたkeywords
keywords_vote["keywords_list"] = keywords_vote.keywords.map(make_list_from_str)
keywords_vote = keywords_vote.dropna()
keywords_vote.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46478 entries, 0 to 46481
Data columns (total 4 columns):
id               46478 non-null int64
keywords         46478 non-null object
vote_average     46478 non-null float64
keywords_list    46478 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 1.8+ MB

In [16]:
#例えば
keywords_vote["keywords_list"]

0        [{'name': 'jealousy', 'id': 931}, {'name': 'to...
1        [{'name': 'board game', 'id': 10090}, {'name':...
2        [{'name': 'fishing', 'id': 1495}, {'name': 'be...
3        [{'name': 'based on novel', 'id': 818}, {'name...
4        [{'name': 'baby', 'id': 1009}, {'name': 'midli...
5        [{'name': 'robbery', 'id': 642}, {'name': 'det...
6        [{'name': 'paris', 'id': 90}, {'name': 'brothe...
7                                                       []
8        [{'name': 'terrorist', 'id': 949}, {'name': 'h...
9        [{'name': 'cuba', 'id': 701}, {'name': 'falsel...
10       [{'name': 'white house', 'id': 833}, {'name': ...
11       [{'name': 'dracula', 'id': 3633}, {'name': 'sp...
12       [{'name': 'wolf', 'id': 1994}, {'name': 'dog-s...
13       [{'name': 'usa president', 'id': 840}, {'name'...
14       [{'name': 'exotic island', 'id': 911}, {'name'...
15       [{'name': 'poker', 'id': 383}, {'name': 'drug ...
16       [{'name': 'bowling', 'id': 420}, {'name': 'bas...
17       [{'name': 'hotel', 'id': 612}, {'name': 'new y...
18       [{'name': 'africa', 'id': 409}, {'name': 'indi...
19       [{'name': 'brother brother relationship', 'id'...
20       [{'name': 'gambling', 'id': 395}, {'name': 'mi...
21       [{'name': 'police brutality', 'id': 796}, {'na...
22       [{'name': 'competition', 'id': 271}, {'name': ...
23       [{'name': 'dead animal', 'id': 7345}, {'name':...
24       [{'name': 'individual', 'id': 30}, {'name': 'p...
25       [{'name': 'shakespeare', 'id': 497}, {'name': ...
26       [{'name': '1970s', 'id': 1228}, {'name': 'fema...
27       [{'name': 'captain', 'id': 1316}, {'name': 'na...
28       [{'name': 'clone', 'id': 402}, {'name': 'dream...
29       [{'name': 'servant', 'id': 964}, {'name': 'cab...
                               ...
46452                                                   []
46453    [{'name': 'love', 'id': 9673}, {'name': 'teena...
46454    [{'name': 'biography', 'id': 5565}, {'name': '...
46455             [{'name': 'paula dupree', 'id': 208422}]
46456    [{'name': 'overweight', 'id': 2064}, {'name': ...
46457          [{'name': 'military school', 'id': 171803}]
46458              [{'name': 'police raid', 'id': 169590}]
46459    [{'name': 'laboratory', 'id': 10124}, {'name':...
46460    [{'name': 'magic', 'id': 2343}, {'name': 'sile...
46461    [{'name': 'silent film', 'id': 154802}, {'name...
46462    [{'name': 'tenant', 'id': 11320}, {'name': 'si...
46463                                                   []
46464                                                   []
46465    [{'name': 'halloween', 'id': 3335}, {'name': '...
46466                                                   []
46467    [{'name': 'wrestling', 'id': 5970}, {'name': '...
46468                                                   []
46469    [{'name': 'physical abuse', 'id': 155794}, {'n...
46470                                                   []
46471                                                   []
46472    [{'name': 'revenge', 'id': 9748}, {'name': 'mu...
46473              [{'name': 'blair witch', 'id': 224180}]
46474    [{'name': 'witch', 'id': 616}, {'name': 'mytho...
46475                                                   []
46476                                                   []
46477               [{'name': 'tragic love', 'id': 10703}]
46478    [{'name': 'artist', 'id': 2679}, {'name': 'pla...
46479                                                   []
46480                                                   []
46481                                                   []
Name: keywords_list, dtype: object

### get_dummiesの使用例
https://stackoverflow.com/questions/29034928/pandas-convert-a-column-of-list-to-dummies

In [17]:
s = pd.Series({0: ['a', 'b', 'c'], 1:['c'], 2: ['b', 'c', 'e'], 3: ['a', 'c'], 4: ['b', 'e'] })
s

0    [a, b, c]
1          [c]
2    [b, c, e]
3       [a, c]
4       [b, e]
dtype: object

In [18]:
pd.get_dummies(s.apply(pd.Series).stack()).sum(level=0)

     a    b    c    e
0  1.0  1.0  1.0  0.0
1  0.0  0.0  1.0  0.0
2  0.0  1.0  1.0  1.0
3  1.0  0.0  1.0  0.0
4  0.0  1.0  0.0  1.0

### keywords_listでもやってみる

In [19]:
#とりあえずlistをseriesにしてみる（いらないかも）
keywords_vote["keywords_series"] =pd.Series(keywords_vote["keywords_list"])
keywords_vote["keywords_series"].head()

0    [{'name': 'jealousy', 'id': 931}, {'name': 'to...
1    [{'name': 'board game', 'id': 10090}, {'name':...
2    [{'name': 'fishing', 'id': 1495}, {'name': 'be...
3    [{'name': 'based on novel', 'id': 818}, {'name...
4    [{'name': 'baby', 'id': 1009}, {'name': 'midli...
Name: keywords_series, dtype: object

In [28]:
#とりあえずlistをseriesにしてみる（いらないかも）
keywords_series =pd.Series(keywords_vote["keywords_list"])
len(keywords_series)
#len(keywords_series)

46478

In [20]:
#[str,str,...]を作るためにとりあえずstrの列を作ってみる
keywords_vote["keywords_series_str"]=str("NaN")
keywords_vote.head()

,id,keywords,vote_average,keywords_list,keywords_series,keywords_series_str
0,862,"[{'id': 931, 'name': 'jealousy'}, {'id': 4290,...",7.7,"[{'name': 'jealousy', 'id': 931}, {'name': 'to...","[{'name': 'jealousy', 'id': 931}, {'name': 'to...",NaN
1,8844,"[{'id': 10090, 'name': 'board game'}, {'id': 1...",6.9,"[{'name': 'board game', 'id': 10090}, {'name':...","[{'name': 'board game', 'id': 10090}, {'name':...",NaN
2,15602,"[{'id': 1495, 'name': 'fishing'}, {'id': 12392...",6.5,"[{'name': 'fishing', 'id': 1495}, {'name': 'be...","[{'name': 'fishing', 'id': 1495}, {'name': 'be...",NaN
3,31357,"[{'id': 818, 'name': 'based on novel'}, {'id':...",6.1,"[{'name': 'based on novel', 'id': 818}, {'name...","[{'name': 'based on novel', 'id': 818}, {'name...",NaN
4,11862,"[{'id': 1009, 'name': 'baby'}, {'id': 1599, 'n...",5.7,"[{'name': 'baby', 'id': 1009}, {'name': 'midli...","[{'name': 'baby', 'id': 1009}, {'name': 'midli...",NaN

In [30]:
#新たにkeywords_series_strというカラムを作って[str,str,str…]をfor文で作っていれてく
for i in range(len(keywords_series)):
    keywords_buffer=[]
    for k in range(len(keywords_series[i])):
        keywords_buffer.append(str(keywords_series[i][k]))
    keywords_vote["keywords_series_str"][i]=keywords_buffer

/Users/minori/.pyenv/versions/anaconda3-4.2.0/lib/python3.5/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

KeyError: 19803

In [ ]:
#ダミー変数つくる
keywords_dummies=pd.get_dummies(keywords_vote["keywords_series_str"].apply(pd.Series).stack()).sum(level=0)
keywords_dummies

In [ ]:
#NaN消してkeywords_voteと結合（ここ自信ないです）
keywords_dummies_ratings=pd.concat([keywords_vote,keywords_dummies.drop("NaN",axis=1)],axis=1)
keywords_dummies_ratings

In [ ]:
#keywords_dummies_ratings.to_csv("keywords_dummies_ratings.csv")

In [ ]:
from sklearn.model_selection import train_test_split

# モデル
from sklearn import linear_model

# モデルのインスタンス
l_model = linear_model.LinearRegression()
 
# 説明変数に "price" 以外を利用
X = keywords_dummies_ratings.drop("vote_average", axis=1)

# 目的変数
Y = keywords_dummies_ratings["vote_average"]

# 学習データとテストデータ分ける(test_sizeはテストデータの割合)
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3,random_state=0)

# モデルのあてはめ
clf = l_model.fit(X_train,y_train)
print("train:",clf.__class__.__name__ ,clf.score(X_train,y_train))
print("test:",clf.__class__.__name__ , clf.score(X_test,y_test))
 
# 偏回帰係数
print(pd.DataFrame({"Name":X.columns,
                    "Coefficients":clf.coef_}).sort_values(by='Coefficients') )
 
# 切片 
print(clf.intercept_)